$mainBGcolor: #00142C;
$mainTextColor: #DC143C;
$additionalTextColor: #FF7F50;

$mainColor: #2E5164;
$mainTransition: 0.3s;

@function darker($color, $tone) {
	$adjust: -16*$tone;
	@return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
}

html,
body {
	height: 100%;
}
body {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: normal;
	background-color: #fff;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.eot');
	src: local('Gilroy Regular'), local('Gilroy-Regular'),
	url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Regular.woff') format('woff'),
	url('../fonts/Gilroy-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Bold.eot');
	src: local('Gilroy Bold'), local('Gilroy-Bold'),
	url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Bold.woff') format('woff'),
	url('../fonts/Gilroy-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
	url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Black.woff') format('woff'),
	url('../fonts/Gilroy-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face{
	font-family:'FontAwesome';
	src:url('../fonts/fontawesome-webfont.eot');
	src:url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
		url('../fonts/fontawesome-webfont.woff2') format('woff2'),
		url('../fonts/fontawesome-webfont.woff') format('woff'),
		url('../fonts/fontawesome-webfont.ttf') format('truetype'),
		url('../fonts/fontawesome-webfont.svg') format('svg');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:"Ionicons";
	src:url("../fonts/ionicons.eot?v=2.0.0");
	src:url("../fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"),
		url("../fonts/ionicons.ttf?v=2.0.0") format("truetype"),
		url("../fonts/ionicons.woff?v=2.0.0") format("woff"),
		url("../fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg");
	font-weight:normal;
	font-style:normal;
}




.top_right>ul>li {
	maregin: 0px;
}
.top_right>ul>li {
	padding-right: 14px;
	margin-right: 6px;
}
.top_right>ul>li::before {
	content: "/";
	width: unset;
	height: unset;
	background: none;
	font-size: 18px;
}
p {
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}
.modal-dialog.modal-dialog-centered {
	min-width: unset;
}
