.nice-select.niceselect_option {
	border: 0px;
	padding: 0px 30px 0px 0px;
	font-size: 14px;
	line-height: 16px;
	height: unset;

	color: #000000;
	&:focus {
		outline: none;
	}
}
.nice-select:after {
	content: "";
	border: 0px;
	background: url("../images/down.svg") no-repeat center center;
	width: 12px;
	height: 12px;
	transform: unset;
	transform-origin: center;

	margin-top: 0px;
	top: calc(50% - 6px);
}
.nice-select.open:after {
	transform: unset;
	transform: scale(1, -1);
}


.checkbox-castom  {
	display: flex;
	align-items: flex-start;

	cursor: pointer;

	margin-bottom: 15px;
}
.checkbox-castom__text {
	display: block;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
}
.checkbox-castom input[type="checkbox"] {
	display: none;
}
.checkbox-castom input[type="checkbox"] + span {
	display: block;

	width: 16px;
	height: 16px;

	margin-right: 10px;

	border: 1px solid #2E5164;
	border-radius: 3px;

	position: relative;
}
.checkbox-castom input[type="checkbox"]:checked + span {
	background-color: $mainColor;
	&:before {
		content: "";
		display: block;
		width: 12px;
		height: 12px;
		background-color: #fff;
		position: absolute;
		border-radius: 100%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
.radio-castom {
	display: flex;
	align-items: center;

	cursor: pointer;

	margin-bottom: 15px;
}
.radio-castom__text {
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}
.radio-castom input[type="radio"] {
	display: none;
}
.radio-castom input[type="radio"] + span {
	display: block;

	width: 20px;
	height: 20px;

	margin-right: 10px;
	border-radius: 100%;

	position: relative;
	border: 1px solid #707070;
}
.radio-castom input[type="radio"]:checked + span {
	&:before {
		content: "";
		display: block;
		width: 10px;
		height: 10px;
		background: #707070;
		position: absolute;
		border-radius: 100%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}


.cart-plus-minus {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100px;
	padding: 10px 7px;
	height: 36px;
	background-color: #F0F0F0;
	.qtybutton {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #000000;

		cursor: pointer;
		width: 8px;
		height: 16px;
	}
	.dec {

	}
	.inc {

	}
	input {
		font-size: 14px;
		line-height: 16px;
		color: #000000;
		width: 70px;

		margin: 0;
		background: none;
		border: 0px;
		padding: 0;
		text-align: center;

		&:hover {
			cursor: default;
		}
	}
}
.input {
	border: 0px;

	background: #F8F9F9;
	border-radius: 5px;
	padding: 14px 20px;

	font-size: 18px;
	line-height: 21px;
	color: #707070;
}
