.about {
	min-height: calc(100vh - 200px);
	h1 {
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #000000;
		margin: 0px;
		padding: 70px 0px;
		text-align: center;
	}
	p {

	}
}
