.btn {
	background: #2E5164;
	border-radius: 5px;
	padding: 14px 40px;

	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	margin: 0px!important;

	&.btn_white {
		background-color: #fff;
		color: $mainColor;
		&:hover {
			background-color: rgba(255, 255, 255, 0.8);
			color: #000;
		}
	}

	&:hover {
		color: #fff;
	}
	&.btn_to-cart {
		border: 2px solid #2E5164;
		border-radius: 5px;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #2E5164;
		&:hover {
			background: $mainColor;
		}
	}
}
