.modal-content {
	border: 0px;
	border-radius: 10px;
}
.modal-content button.close {
	margin: 0px;
	top: 10px;
	right: 10px;
	left: unset;

	display: flex;
	justify-content: center;
	align-items: center;
}
.modal-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	margin: 0px;
	padding: 0px;
}
.modal-info {
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}
.modal-link {
	font-size: 18px;
	line-height: 21px;
	color: #fff;
	background: $mainColor;
	padding: 1px 5px 3px 5px;
	&:hover {
		background: none;
	}
}
