.breadcrumb-wrapper {
	background: #F0F0F0;
	padding: 32px 0px;
}
.breadcrumb {
	padding: 0px;
	background: none;
	margin: 0px;
	.breadcrumb-item {
		font-size: 14px;
		line-height: 16px;
		color: #000;
		a {
			color: #707070;
			transition: $mainTransition;
			&:hover {
				color: $mainColor;
				transition: $mainTransition;
			}
		}
	}
}
