section(class="banner")
	div(class="container")
		div(class="row")
			div(class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start")
				h2
					| Скидка весь июль
				p
					| На все оборудование марки Remeza действуют специальные скидки
				div(class="w-100 d-flex d-lg-block justify-content-center")
					a(href="#" class="btn btn_white")
						| Подробнее
			div(class="col-12 col-lg-5 offset-lg-1 pt-5 pt-lg-0")
				img(class="lazyload" data-src="images/banner1.png")
