section(class="breadcrumb-wrapper")
	div(class="container")
		div(class="row")
			div(class="col-12")
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Главная</a></li>
						<li class="breadcrumb-item active" aria-current="page">Каталог</li>
					</ol>
				</nav>
