<footer class="footer_widgets">
	<div class="footer_top">
		<div class="container">
			<div class="row">
			<div class="col-12 col-lg-3">
				<div class="widgets_container contact_us">
					<div class="footer_logo d-flex justify-content-center justify-content-lg-start">
						<a href="#">
							<img class="lazyload img-fluid" data-src="images/logo.svg" alt="img">
						</a>
					</div>
					<div class="footer_contact">
						<p>Продажа оборудования и комплектующих для подготовки сжатого воздуха. Информация для SEO.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 d-none d-lg-block">
				<div class="widgets_container widget_menu">
					<h2>Информация</h2>
					<div class="footer_menu">
						<ul>
							<li><a href="#">О компании</a></li>
							<li><a href="#">Доставка и оплата</a></li>
							<li><a href="#">Реквизиты</a></li>
							<li><a href="#">Оптовым покупателям</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 d-none d-lg-block">
				<div class="widgets_container widget_menu">
					<h2>Меню</h2>
					<div class="footer_menu">
						<ul>
							<li><a href="#">Новости</a></li>
							<li><a href="#">Каталог</a></li>
							<li><a href="#">Контакты</a></li>
							<li><a href="#">Партнеры</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-3">
				<div class="widgets_container widget_menu m-0">
					<h2>Контакты</h2>
					<a class="phone mb-2 d-block" href="tel:83511234567">8 (351) 123-45-67</a>
					<p class="mb-2">Челябинск, ул. Ленина.1</p>
					<a href="mailto:info@mail.ru">E-mail: info@mail.ru</a>
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="footer_bottom">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-start pb-3 pb-lg-0">
					<a class="politics" href="#">Политика конфиденциальности</a>
				</div>
				<div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end align-items-center">
					<a class="deksis" href="#"><span>Создание сайта</span><img class="lazyload mx-2" data-src="images/deksis.png">DEKSIS.RU</a>
				</div>
			</div>
		</div>
	</div>
</footer>
