<div class="off_canvars_overlay"></div>
<div class="Offcanvas_menu">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="canvas_open">
					<a class="burger" href="javascript:void(0)">
						<span></span>
						<span></span>
						<span></span>
					</a>
				</div>
				<div class="Offcanvas_menu_wrapper">
					<div class="canvas_close">
						<a href="javascript:void(0)"><i class="ion-android-close"></i></a>
					</div>
					<div class="support_info">
						<p>Челябинск, пр. Ленина 1</p>
					</div>
					<div class="top_right text-right">
						<ul>
							<li><a href="#" data-toggle="modal" data-target="#modalLog">Вход</a></li> 
							<li><a href="#" data-toggle="modal" data-target="#modalRegistr">Регистрация</a></li> 
						</ul>
					</div> 
					<div class="search_container">
						<form action="#">
							<div class="search_box">
								<input placeholder="Поиск по каталогу" type="text">
								<button type="submit">Поиск</button> 
							</div>
						</form>
					</div> 
					<div class="middel_right_info" id="cart-mobile">
					</div>
					<div id="menu" class="text-left ">
						<ul class="offcanvas_main_menu">
							<li class="menu-item-has-children active">
								<a href="#">Главная</a>
							</li>
							<li class="menu-item-has-children">
								<a href="#">О компании</a>
							</li>
							<li class="menu-item-has-children">
								<a href="#">Доставка и оплата</a>
							</li>
							<li class="menu-item-has-children">
								<a href="#">Новости</a>
							</li>
							<li class="menu-item-has-children">
								<a href="my-account.html">Контакты</a>
							</li>
						</ul>
					</div>
					<div class="Offcanvas_footer">
						<span>
							<a href="#"><i class="fa fa-envelope-o mr-2"></i>info@mail.ru</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<header>
	<div class="main_header">
		<div class="header_top">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-6">
						<div class="support_info">
							<p>Челябинск, пр. Ленина 1</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="top_right text-right">
							<ul>
								<li><a href="#" data-toggle="modal" data-target="#modalLog">Вход</a></li> 
								<li><a href="#" data-toggle="modal" data-target="#modalRegistr">Регистрация</a></li> 
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header_middle">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-4 col-lg-3">
						<div class="logo">
							<a href="index.html"><img class="img-fluid lazyload" data-src="images/logo.svg" alt="img"></a>
						</div>
					</div>
					<div class="col-6 col-lg-9">
						<div class="middel_right">
							<div class="search_container">
								<form action="#">
									<div class="search_box">
										<input placeholder="Поиск по каталогу" type="text">
										<button type="submit">Поиск</button> 
									</div>
								</form>
							</div>
							<div class="d-flex flex-column align-items-end phone-container mr-lg-3">
								<a href="tel:+73511234567">+7 (351) 123-45-67</a>
								<span class="d-none d-lg-block" data-toggle="modal" data-target="#modalCollback">заказать звонок</span>
							</div>
							<div class="middel_right_info" id="cart-desktop">
								<div class="mini_cart_wrapper">
									<a href="javascript:void(0)">
										<img class="lazyload" data-src="images/supermarket1.svg" alt="img">
										<i class="fa fa-angle-down"></i>
									</a>
									<span class="cart_quantity">2</span>
									<div class="mini_cart">
										<div class="cart_item">
											<div class="cart_img">
												<a href="#">
													<img class="lazyload" data-src="images/product.jpg" alt="img">
												</a>
											</div>
											<div class="cart_info">
												<a href="#">Название</a>
												<p>Цена: 1 X <span> 1500.00 </span></p>
											</div>
											<form class="cart_remove">
												<button type="submit">
													<i class="ion-android-close"></i>
												</button>
											</form>
										</div>
										<div class="cart_item">
											<div class="cart_img">
												<a href="#">
													<img class="lazyload" data-src="images/product.jpg" alt="img">
												</a>
											</div>
											<div class="cart_info">
												<a href="#">Название</a>
												<p>Цена: 1 X <span> 1500.00 </span></p>
											</div>
											<form class="cart_remove">
												<button type="submit">
													<i class="ion-android-close"></i>
												</button>
											</form>
										</div>
										<div class="mini_cart_table">
											<div class="cart_total">
												<span>Промежуточный итог:</span>
												<span class="price">3000.00</span>
											</div>
											<div class="cart_total mt-10">
												<span>Итог:</span>
												<span class="price">3000.00</span>
											</div>
										</div>
										<div class="mini_cart_footer">
											<div class="cart_button">
												<a href="cart.html">Перейти в корзину</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main_menu_area">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-3 col-md-12">
						<div class="categories_menu">
							<div class="categories_title">
								<span class="d-none d-lg-inline-block categori_toggle">КАТАЛОГ</span>
								<span class="d-inline-block d-lg-none categori_toggle">Каталог оборудования</span>
							</div>
							<div class="categories_menu_toggle">
								<ul>
									<li class="menu_item_children"><a href="#">Заголовок<i class="fa fa-angle-right"></i></a>
										<ul class="categories_mega_menu">
											<li class="menu_item_children"><a href="#">Заголовок</a>
												<ul class="categorie_sub_menu">
													<li><a href="">Ссылка</a></li>
													<li><a href="">Ссылка</a></li>
													<li><a href="">Ссылка</a></li>
													<li><a href="">Ссылка</a></li>
												</ul>
											</li>
											<li class="menu_item_children"><a href="#">Заголовок</a>
												<ul class="categorie_sub_menu">
													<li><a href="">Ссылка</a></li>
													<li><a href="">Ссылка</a></li>
													<li><a href="">Ссылка</a></li>
													<li><a href="">Ссылка</a></li>
												</ul>
											</li>
											<li class="menu_item_children"><a href="#">Заголовок</a>
												<ul class="categorie_sub_menu">
													<li><a href="">Ссылка</a></li>
													<li><a href="">Ссылка</a></li>
													<li><a href="">Ссылка</a></li>
													<li><a href="">Ссылка</a></li>
												</ul>
											</li>
											<li class="menu_item_children"><a href="#">Заголовок</a>
												<ul class="categorie_sub_menu">
													<li><a href="">Ссылка</a></li>
													<li><a href="">Ссылка</a></li>
													<li><a href="">Ссылка</a></li>
													<li><a href="">Ссылка</a></li>
												</ul>
											</li>
										</ul>
									</li>
									<li class="menu_item_children">
										<a href="#">Заголовок<i class="fa fa-angle-right"></i></a>
										<ul class="categories_mega_menu column_3">
											<li class="menu_item_children">
												<a href="#">Заголовок</a>
												<ul class="categorie_sub_menu">
													<li><a href="">Ссылка</a></li>
													<li><a href="">Ссылка</a></li>
													<li><a href="">Ссылка</a></li>
													<li><a href="">Ссылка</a></li>
												</ul>
											</li>
											<li class="menu_item_children">
												<a href="#">Заголовок</a>
												<ul class="categorie_sub_menu">
													<li><a href="">Ссылка</a></li>
													<li><a href="">Ссылка</a></li>
													<li><a href="">Ссылка</a></li>
													<li><a href="">Ссылка</a></li>
												</ul>
											</li>
											<li class="menu_item_children">
												<a href="#">Заголовок</a>
												<ul class="categorie_sub_menu">
													<li><a href="">Ссылка</a></li>
													<li><a href="">Ссылка</a></li>
													<li><a href="">Ссылка</a></li>
													<li><a href="">Ссылка</a></li>
												</ul>
											</li>
										</ul>
									</li>
									<li><a href="#">Ссылка</a></li>
									<li><a href="#">Ссылка</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-9 col-md-12">
						<div class="main_menu menu_position">
							<nav>
								<ul>
									<li class="mega_items"><a href="shop.html">Главная</a></li>
									<li><a href="blog.html">О компании</a></li>
									<li><a href="#">Доставка и оплата</a></li>
									<li><a href="about.html">Новости</a></li>
									<li><a href="contact.html">Контакты</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="sticky_header_area sticky-header">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-3">
				<div class="logo">
					<a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="sticky_header_right menu_position">
					<div class="main_menu">
						<nav>
							<ul>
								<li><a class="active" href="#">Главная</a></li>
								<li><a href="#">О компании</a></li>
								<li><a href="#">Доставка и оплата</a></li>
								<li><a href="#">Новости</a></li>
								<li><a href="#">Контакты</a></li>
							</ul>
						</nav>
					</div>
					<div class="middel_right_info"  id="cart-scroll">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
