.footer_top {
	padding: 24px 0px;
	border: 0px;
	@media (max-width: 991px) {
		padding: 24px 50px;
	}
}
.footer_contact p {
	font-size: 12px;
	line-height: 14px;
	color: #000000;
}
.widgets_container p {
	padding: 0px!important;
}
.widgets_container.widget_menu {
	padding: 0px;

	.phone {
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #000000;
		&:hover {
			color: $mainColor;
		}
	}
}
.widgets_container h2 {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #000000;

	padding-bottom: 26px;
	margin: 0px;
}
.footer_menu ul li {
	margin-bottom: 14px;
}
.footer_menu ul li a {
	font-size: 14px;
	line-height: 16px;
	color: #000000;
}
.footer_menu ul li a:hover {
	color: $mainColor;
}






.footer_bottom {
	padding: 10px 0px;
	background: none;
	@media (max-width: 991px) {
		padding: 40px 0px;
	}
}
.politics {
	font-size: 14px;
	line-height: 16px;
	color: $mainColor;

	margin: 0px;
	padding: 0px;
}

.deksis {
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	span {
		color: $mainColor;
	}
}
.footer_logo a img {
	@media (max-width: 991px) {
		max-width: unset;
	}
}
