.pagination {
	ul li {
		border-radius: 3px;
		background: none;
		font-weight: bold;
		font-size: 16px;
		color: #000000;
		a {
			font-weight: bold;
			font-size: 16px;
			color: #000000;
			&:hover {
				background: $mainColor;
				color: #fff;
			}
		}
		&.prev {
			width: 40px;
		}
	}
	ul li.current {
		background: #2E5164;
		color: #fff;
	}
}
