extends base.pug
block content
	include components/breadcrumb.pug
	section(class="page-404")
		div(class="container")
			div(class="row")
				div(class="col-12 d-flex flex-column align-items-center")
					h1()
						| 404
					p
						| К сожалению страница не найдена
					a( href="#")
						| Вернуться на главную
