- var phone = "+7 965 538 21 02";
- var menuItems = ['Главная', 'Услуги', 'Цены', 'О компании', 'Блог', 'Контакты'];


doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="css/main.min.css")

		link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
		title Компрессор
	body
		include components/header.pug
		block content
		include components/footer.pug
		<!-- Modal -->
		<div class="modal fade" id="modalCollback" tabindex="-1" role="dialog" aria-labelledby="modalCallback" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered bd-example-modal-lg">
				<div class="modal-content modal-lg">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Обратный звонок</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						form(acction="#" method="Post" class="d-flex flex-column ")
							input(class="input mb-4" type="text" placeholder="Имя")
							input(class="input mb-4" type="tel" placeholder="Телефон")
							button(class="btn" type="submit")
								| Отправить
					</div>
				</div>
			</div>
		</div>
		
		<!-- Modal -->
		<div class="modal fade" id="modalRegistr" tabindex="-1" role="dialog" aria-labelledby="modalRegistr" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered bd-example-modal-lg">
				<div class="modal-content modal-lg">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Регистрация</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						form(acction="#" method="Post" class="d-flex flex-column ")
							input(class="input mb-4" type="text" placeholder="Имя")
							input(class="input mb-4" type="tel" placeholder="Телефон")
							input(class="input mb-4" type="password" placeholder="Пароль")
							input(class="input mb-4" type="password" placeholder="Првоерка пароля")
							button(class="btn" type="submit")
								| Зарегистрироваться
							div(class="d-flex justify-content-center align-items-center py-4")
								span(class="modal-info mr-3")
									| Уже есть акаунт?
								a(class="modal-link" href="#" data-toggle="modal" data-target="#modalLog")
									| войти
					</div>
				</div>
			</div>
		</div>
		
		<!-- Modal -->
		<div class="modal fade" id="modalLog" tabindex="-1" role="dialog" aria-labelledby="modalLog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered bd-example-modal-lg">
				<div class="modal-content modal-lg">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Вход</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
					form(acction="#" method="Post" class="d-flex flex-column ")
						input(class="input mb-4" type="text" placeholder="Имя")
						input(class="input mb-4" type="password" placeholder="Пароль")
						button(class="btn" type="submit")
							| Зарегистрироваться
						div(class="d-flex justify-content-center align-items-center py-4")
							span(class="modal-info mr-3")
								| Еще нет акаунта?
							a(class="modal-link" href="#" data-toggle="modal" data-target="#modalRegistr")
								| регистрация
					</div>
				</div>
			</div>
		</div>
		script(src="js/main.min.js")
