extends base.pug
block content
	include components/breadcrumb.pug
	<div class="shopping_cart_area">
		<div class="container">  
			<div class="row">
				<div class="col-12">
					form
						<div class="table_desc">
							<div class="cart_page table-responsive">
								<table>
									<tbody>
										<tr>
											<td class="product_thumb"><a href="#"><img class="lazyload w-100 img-fluid d-block" data-src="images/item.png" alt=""></a></td>
											<td class="product_name"><a href="#">Компрессор поршневой ВА-24-4555</a></td>
											<td class="product-price">1 125 678 руб.</td>
											<td class="product_quantity">
											<div class="cart-plus-minus mb-4 mb-xl-0">
												<div class="dec qtybutton">-</div>
												<input class="cart-plus-minus-box" type="text" name="qtybutton" value="1" readonly>
												<div class="inc qtybutton">+</div>
											</div>
											</td>
											<td class="product_total">1 125 678 руб.</td>
											<td class="product_remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
										</tr>
										
										<tr>
											<td class="product_thumb"><a href="#"><img class="lazyload w-100 img-fluid d-block" data-src="images/item.png" alt=""></a></td>
											<td class="product_name"><a href="#">Компрессор поршневой ВА-24-4555</a></td>
											<td class="product-price">1 125 678 руб.</td>
											<td class="product_quantity">
											<div class="cart-plus-minus mb-4 mb-xl-0">
												<div class="dec qtybutton">-</div>
												<input class="cart-plus-minus-box" type="text" name="qtybutton" value="1" readonly>
												<div class="inc qtybutton">+</div>
											</div>
											</td>
											<td class="product_total">1 125 678 руб.</td>
											<td class="product_remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
										</tr>
										
										<tr>
											<td class="product_thumb"><a href="#"><img class="lazyload w-100 img-fluid d-block" data-src="images/item.png" alt=""></a></td>
											<td class="product_name"><a href="#">Компрессор поршневой ВА-24-4555</a></td>
											<td class="product-price">1 125 678 руб.</td>
											<td class="product_quantity">
											<div class="cart-plus-minus mb-4 mb-xl-0">
												<div class="dec qtybutton">-</div>
												<input class="cart-plus-minus-box" type="text" name="qtybutton" value="1" readonly>
												<div class="inc qtybutton">+</div>
											</div>
											</td>
											<td class="product_total">1 125 678 руб.</td>
											<td class="product_remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
				</div>
			</div>
			form(class="row" action="#" method="POST")
				div(class="col-12 py-5")
					form( )
						div(class="row")
							div(class="col-12 col-lg-4 pb-4 pb-lg-0")
								h2(class="pb-4")
									| Покупатель:
								input(class="input mb-4" type="text" placeholder="Введите имя*")
								input(class="input mb-4" type="tel" placeholder="Ваш номер*")
								input(class="input" type="text" placeholder="E-mail*")
							div(class="col-12 col-lg-4 pb-4 pb-lg-0")
								h2(class="pb-4")
									| Доставка:
								label(class="radio-castom")
									input(type="radio" name="dostavka")
									span
									span(class="radio-castom__text")
										| Самовывоз
								label(class="radio-castom")
									input(type="radio" name="dostavka")
									span
									span(class="radio-castom__text")
										| Доставка
							div(class="col-12 col-lg-4")
								h2(class="pb-4")
									| Адрес доставки:
								input(class="input mb-4" type="text" placeholder="Регион")
								input(class="input" type="text" placeholder="Адрес")
				div(class="col-12 pt-5")
					div(class="d-flex flex-column align-items-end")
						div(class="shopping_cart_area__final")
							span(class="shopping_cart_area__final__text")
								| ИТОГО:
							span(class="shopping_cart_area__final__price")
								|1 125 678 руб.
						button(type="submit" class="btn")
							| Оформить заказ
					
		</div>
	</div>
