extends base.pug
block content
	include components/breadcrumb.pug
	section(class="py-5")
		div(class="container pb-5")
			div(class="row ")
				div(class="col-12 pb-5")
					h1()
						| Каталог
			div(class="row")
				div(class="col-6 col-lg-3 col-xl-2 mb-4")
					<article class="single_category">
						<figure>
							<div class="category_thumb">
								<a href="#">
									<img class="lazyload" data-src="images/cat1.png" alt="img">
								</a>
							</div>
							<figcaption class="category_name">
								<h3>
									<a href="shop.html">Поршневые компрессора</a>
								</h3>
							</figcaption>
						</figure>
					</article>
				div(class="col-6 col-lg-3 col-xl-2 mb-4")
					<article class="single_category">
						<figure>
							<div class="category_thumb">
								<a href="#">
									<img class="lazyload" data-src="images/cat2.png" alt="img">
								</a>
							</div>
							<figcaption class="category_name">
								<h3>
									<a href="shop.html">Система фильтрации</a>
								</h3>
							</figcaption>
						</figure>
					</article>
				div(class="col-6 col-lg-3 col-xl-2 mb-4")
					<article class="single_category">
						<figure>
							<div class="category_thumb">
								<a href="#">
									<img class="lazyload" data-src="images/cat3.png" alt="img">
								</a>
							</div>
							<figcaption class="category_name">
								<h3>
									<a href="shop.html">Масло компрессорное</a>
								</h3>
							</figcaption>
						</figure>
					</article>
				div(class="col-6 col-lg-3 col-xl-2 mb-4")
					<article class="single_category">
						<figure>
							<div class="category_thumb">
								<a href="#">
									<img class="lazyload" data-src="images/cat4.png" alt="img">
								</a>
							</div>
							<figcaption class="category_name">
								<h3>
									<a href="shop.html">Охладители</a>
								</h3>
							</figcaption>
						</figure>
					</article>
				div(class="col-6 col-lg-3 col-xl-2 mb-4")
					<article class="single_category">
						<figure>
							<div class="category_thumb">
								<a href="#">
									<img class="lazyload" data-src="images/cat5.png" alt="img">
								</a>
							</div>
							<figcaption class="category_name">
								<h3>
									<a href="shop.html">Пневмоинструмент</a>
								</h3>
							</figcaption>
						</figure>
					</article>
				div(class="col-6 col-lg-3 col-xl-2 mb-4")
					<article class="single_category">
						<figure>
							<div class="category_thumb">
								<a href="#">
									<img class="lazyload" data-src="images/cat1.png" alt="img">
								</a>
							</div>
							<figcaption class="category_name">
								<h3>
									<a href="shop.html">Поршневые компрессора</a>
								</h3>
							</figcaption>
						</figure>
					</article>
				
				div(class="col-6 col-lg-3 col-xl-2 mb-4")
					<article class="single_category">
						<figure>
							<div class="category_thumb">
								<a href="#">
									<img class="lazyload" data-src="images/cat5.png" alt="img">
								</a>
							</div>
							<figcaption class="category_name">
								<h3>
									<a href="shop.html">Пневмоинструмент</a>
								</h3>
							</figcaption>
						</figure>
					</article>
					
				div(class="col-6 col-lg-3 col-xl-2 mb-4")
					<article class="single_category">
						<figure>
							<div class="category_thumb">
								<a href="#">
									<img class="lazyload" data-src="images/cat4.png" alt="img">
								</a>
							</div>
							<figcaption class="category_name">
								<h3>
									<a href="shop.html">Охладители</a>
								</h3>
							</figcaption>
						</figure>
					</article>
					
				div(class="col-6 col-lg-3 col-xl-2 mb-4")
					<article class="single_category">
						<figure>
							<div class="category_thumb">
								<a href="#">
									<img class="lazyload" data-src="images/cat2.png" alt="img">
								</a>
							</div>
							<figcaption class="category_name">
								<h3>
									<a href="shop.html">Система фильтрации</a>
								</h3>
							</figcaption>
						</figure>
					</article>
					
				div(class="col-6 col-lg-3 col-xl-2 mb-4")
					<article class="single_category">
						<figure>
							<div class="category_thumb">
								<a href="#">
									<img class="lazyload" data-src="images/cat1.png" alt="img">
								</a>
							</div>
							<figcaption class="category_name">
								<h3>
									<a href="shop.html">Поршневые компрессора</a>
								</h3>
							</figcaption>
						</figure>
					</article>
					
				div(class="col-6 col-lg-3 col-xl-2 mb-4")
					<article class="single_category">
						<figure>
							<div class="category_thumb">
								<a href="#">
									<img class="lazyload" data-src="images/cat3.png" alt="img">
								</a>
							</div>
							<figcaption class="category_name">
								<h3>
									<a href="shop.html">Масло компрессорное</a>
								</h3>
							</figcaption>
						</figure>
					</article>
					
				div(class="col-6 col-lg-3 col-xl-2 mb-4")
					<article class="single_category">
						<figure>
							<div class="category_thumb">
								<a href="#">
									<img class="lazyload" data-src="images/cat2.png" alt="img">
								</a>
							</div>
							<figcaption class="category_name">
								<h3>
									<a href="shop.html">Система фильтрации</a>
								</h3>
							</figcaption>
						</figure>
					</article>
	include components/banner.pug
	include components/seo.pug
