extends base.pug
block content
	include components/breadcrumb.pug
	section(class="pt-3 pt-lg-5")
		div(class="container")
			div(class="row pb-5")
				<div class="col-lg-3 col-md-12">
					<aside class="sidebar_widget">
						<div class="widget_inner">
							<div class="widget_list widget_categories">
								<span class="title">Категории товаров</span>
								<ul>
									<li class="active"><a href="#">Поршневые компрессора</a></li>
									<li><a href="#">Системы фильтрации</a></li>
									<li><a href="#">Масло компрессорное</a></li>
									<li><a href="#">Охладители</a></li>
									<li><a href="#">Пневмоинструмент</a></li>
								</ul>
							</div>
							<div class="widget_list widget_filter">
								<span class="title">Фильтр по цене</span>
								<form action="#">
									<div id="slider-range"></div>
									<div class="d-flex justify-content-between">
										<span id="start-amount">1</span>
										<span id="end-amount">1</span>
									</div>
								</form> 
							</div>
							<div class="widget_list widget_categories">
								<span class="title">Производитель</span>
								<form>
									<label class="checkbox-castom">
										<input type="checkbox">
										<span></span>
										<span class="checkbox-castom__text">Remeza</span>
									</label>
									<label class="checkbox-castom">
										<input type="checkbox">
										<span></span>
										<span class="checkbox-castom__text">Fubag</span>
									</label>
									<label class="checkbox-castom">
										<input type="checkbox">
										<span></span>
										<span class="checkbox-castom__text">Бежецкий завод АСО</span>
									</label>
								</form>
							</div>
						</div>
					</aside>
				</div>
				<div class="col-lg-9 col-md-12">
					h1(class="title-h1 pb-4")
						| Поршневые компрессора
					<div class="shop_toolbar_wrapper">
						<div class=" niceselect_option">
							<form class="select_option" action="#">
								<select name="orderby" id="short">
									<option selected value="1">Сортировать по цене 1</option>
									<option  value="2">Сортировать по цене 2</option>
									<option value="3">Сортировать по цене 3</option>
									<option value="4">Сортировать по цене 4</option>
								</select>
							</form>
						</div>
						<div class="page_amount">
							<p>Показаны 25 из 300 результатов</p>
						</div>
					</div>
					<div class="row shop_wrapper grid_list">
						<div class="col-12 ">
							<article class="single_product">
								<figure>
									<div class="product_thumb">
										<a class="primary_img" href="#"><img class="lazyload" data-src="images/cat1.png" alt="img"></a>
									</div>
									<div class="product_content list_content">
										<div class="left_caption">
											<h2 class="product_name">
												<a href="#">Компрессор поршневой ВА-24-4555</a>
											</h2>
											<div class="product_desc">
												<p>Короткая аннотация к товару. Сюда лучше поместить короткие параметры компрессора например. Чтобы потенциальный покупатель, сразу мог соориентироваться.</p>
											</div>
										</div>
										<div class="right_caption">
											<div class="price_box d-flex flex-column">
												<span class="current_price">1 125 678 руб.</span>  
											</div>
											<div class="action_links">
												<ul>
													<li class="compare">
														<a href="#" title="к сравнению">
															<img class="lazyload" data-src="images/comparison1.svg" alt="img">
															<span>к сравнению</span>
														</a>
													</li>
													<li class="wishlist">
														<a href="#" title="добавить в избранное">
															<i class="fa fa-heart-o" aria-hidden="true"></i>
															<span>добавить в избранное</span>
														</a>
													</li>
												</ul>
											</div>
											<div class="add_to_cart">
												<a class="btn btn_to-cart" href="#" title="add to cart">В корзину</a>
											</div>
										</div>
									</div>
								</figure>
							</article>
							<article class="single_product">
								<figure>
									<div class="product_thumb">
										<a class="primary_img" href="#"><img class="lazyload" data-src="images/cat1.png" alt="img"></a>
										<div class="label_product">
											<span class="label_sale">Скидка</span>
										</div>
									</div>
									<div class="product_content list_content">
										<div class="left_caption">
											<h2 class="product_name">
												<a href="#">Компрессор поршневой ВА-24-4555</a>
											</h2>
											<div class="product_desc">
												<p>Короткая аннотация к товару. Сюда лучше поместить короткие параметры компрессора например. Чтобы потенциальный покупатель, сразу мог соориентироваться.</p>
											</div>
										</div>
										<div class="right_caption">
											<div class="price_box d-flex flex-column">
												<span class="old_price">1 325 678 руб.</span>  
												<span class="current_price">1 125 678 руб.</span>  
											</div>
											<div class="action_links">
												<ul>
													<li class="compare">
														<a href="#" title="к сравнению">
															<img class="lazyload" data-src="images/comparison1.svg" alt="img">
															<span>к сравнению</span>
														</a>
													</li>
													<li class="wishlist">
														<a href="#" title="добавить в избранное">
															<i class="fa fa-heart-o" aria-hidden="true"></i>
															<span>добавить в избранное</span>
														</a>
													</li>
												</ul>
											</div>
											<div class="add_to_cart">
												<a class="btn btn_to-cart" href="#" title="add to cart">В корзину</a>
											</div>
										</div>
									</div>
								</figure>
							</article>
						</div>
					</div>
					<div class="shop_toolbar t_bottom">
						<div class="pagination">
							<ul>
								<li class="prev"><a href="#"> << </a></li>
								<li class="current">1</li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li class="next"><a href="#"> >> </a></li>
							</ul>
						</div>
					</div>
				</div>
	include components/seo.pug
