extends base.pug
block content
	<section class="slider_section">
		<div class="slider_area owl-carousel">
			<div class="single_slider d-flex align-items-center">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-7">
							<div class="slider_content">
								<h1><span>Большой выбор</span><span>КОМПРЕССОРНОГО<br>ОБОРУДОВАНИЯ</span></h1>
								<p>Оборудование и комплектующие для подготовки сжатого воздуха</p>
								<a class="btn" href="#">В каталог</a>
							</div>
						</div>
						<div class="col-lg-5 d-none d-lg-block">
							<img class="lazyload" data-src="images/slider1.png" alt="img">
						</div>
					</div>
				</div>
			</div>
			<div class="single_slider d-flex align-items-center">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-7">
							<div class="slider_content">
								<h2 class="h1"><span>Большой выбор</span><span>КОМПРЕССОРНОГО<br>ОБОРУДОВАНИЯ</span></h2>
								<p>Оборудование и комплектующие для подготовки сжатого воздуха</p>
								<a class="btn" href="#">В каталог</a>
							</div>
						</div>
						<div class="col-lg-5 d-none d-lg-block">
							<img class="lazyload" data-src="images/slider1.png" alt="img">
						</div>
					</div>
				</div>
			</div>
			<div class="single_slider d-flex align-items-center">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-7">
							<div class="slider_content">
								<h2 class="h1"><span>Большой выбор</span><span>КОМПРЕССОРНОГО<br>ОБОРУДОВАНИЯ</span></h2>
								<p>Оборудование и комплектующие для подготовки сжатого воздуха</p>
								<a class="btn" href="#">В каталог</a>
							</div>
						</div>
						<div class="col-lg-5 d-none d-lg-block">
							<img class="lazyload" data-src="images/slider1.png" alt="img">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
	<section class="top_category_product mb-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-3">
					<div class="top_category_header">
						<h2><b>Популярные категории товаров</b></h2>
						<a class="d-none d-lg-block btn" href="#">Весь каталог</a>
					</div>
				</div>
				<div class="col-lg-10 col-md-9">
					<div class="top_category_container category_column5 owl-carousel">
						<article class="single_category">
							<figure>
								<div class="category_thumb">
									<a href="#">
										<img class="lazyload" data-src="images/cat1.png" alt="img">
									</a>
								</div>
								<figcaption class="category_name">
									<h3>
										<a href="shop.html">Поршневые компрессора</a>
									</h3>
								</figcaption>
							</figure>
						</article>
						
						<article class="single_category">
							<figure>
								<div class="category_thumb">
									<a href="#">
										<img class="lazyload" data-src="images/cat2.png" alt="img">
									</a>
								</div>
								<figcaption class="category_name">
									<h3>
										<a href="shop.html">Система фильтрации</a>
									</h3>
								</figcaption>
							</figure>
						</article>
						
						<article class="single_category">
							<figure>
								<div class="category_thumb">
									<a href="#">
										<img class="lazyload" data-src="images/cat3.png" alt="img">
									</a>
								</div>
								<figcaption class="category_name">
									<h3>
										<a href="shop.html">Масло компрессорное</a>
									</h3>
								</figcaption>
							</figure>
						</article>
						
						<article class="single_category">
							<figure>
								<div class="category_thumb">
									<a href="#">
										<img class="lazyload" data-src="images/cat4.png" alt="img">
									</a>
								</div>
								<figcaption class="category_name">
									<h3>
										<a href="shop.html">Охладители</a>
									</h3>
								</figcaption>
							</figure>
						</article>
						
						<article class="single_category">
							<figure>
								<div class="category_thumb">
									<a href="#">
										<img class="lazyload" data-src="images/cat5.png" alt="img">
									</a>
								</div>
								<figcaption class="category_name">
									<h3>
										<a href="shop.html">Пневмоинструмент</a>
									</h3>
								</figcaption>
							</figure>
						</article>
					</div>
				</div>
				<div class="col-12 d-flex justify-content-center mt-4 d-lg-none">
					<a class="btn" href="#">Весь каталог</a>
				</div>
			</div>
		</div>
	</section>
	
	include components/banner.pug
	
	<section class="shipping_area mb-70">
		<div class="container">
			<div class=" row">
				<div class="col-12 col-lg-3">
					<div class="single_shipping">
						<div class="shipping_icone">
							<img class="lazyload" data-src="images/delivery1.svg" alt="img">
						</div>
						<div class="shipping_content">
							<h2>Доставка по России</h2>
							<p>Доставка товаров по всей России</p>
						</div>
					</div>
				</div>
				
				<div class="col-12 col-lg-3">
					<div class="single_shipping">
						<div class="shipping_icone">
							<img class="lazyload" data-src="images/payment1.svg" alt="img">
						</div>
						<div class="shipping_content">
							<h2>Удобная оплата</h2>
							<p>Удобный способ оплаты, который подходит именно вам.</p>
						</div>
					</div>
				</div>
				
				<div class="col-12 col-lg-3">
					<div class="single_shipping">
						<div class="shipping_icone">
							<img class="lazyload" data-src="images/servi.svg" alt="img">
						</div>
						<div class="shipping_content">
							<h2>Сервисная служба</h2>
							<p>Собственная сервисная служба</p>
						</div>
					</div>
				</div>
				
				<div class="col-12 col-lg-3">
					<div class="single_shipping">
						<div class="shipping_icone">
							<img class="lazyload" data-src="images/technical-support1.svg" alt="img">
						</div>
						<div class="shipping_content">
							<h2>Служба поддержки</h2>
							<p>Вы всегда можете обратиться за консультацией</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	include components/seo.pug
	
	
