extends base.pug
block content
	include components/breadcrumb.pug
	<div class="product_details mt-60 mb-60">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-5">
					<div class="product-details-tab">
						<img class="lazyload img-100 img-fluid" data-src="images/item.png" alt="img">
					</div>
				</div>
				<div class="col-12 col-lg-7">
					<div class="product_d_right">
						<form action="#">
							<h1>Поршневой компрессор Atlas Copco LZ 10-10 FF 500</h1>
							<div class="price_box">
								<span class="current_price">1 329 753 руб.</span>
								<span class="old_price">1 129 753 руб.</span>
							</div>
							<div class="product_desc">
								<p>Повседневная практика показывает, что сложившаяся структура организации позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры влечет за собой процесс внедрения и модернизации модели развития.</p>
							</div>
							<div class="d-flex flex-column flex-xl-row justify-content-xl-between align-items-xl-center">
								<div class="cart-plus-minus mb-4 mb-xl-0">
									<div class="dec qtybutton">-</div>
									<input class="cart-plus-minus-box" type="text" name="qtybutton" value="1" readonly>
									<div class="inc qtybutton">+</div>
								</div>
								<button class="btn " type="submit">В каталог</button>
								<ul class="d-flex align-items-center  mt-4 mt-xl-0">
									<li class="compare mr-4">
										<a href="#" title="к сравнению">
											<img class="lazyload" data-src="images/comparison1.svg" alt="img">
											<span>к сравнению</span>
										</a>
									</li>
									<li class="wishlist">
										<a href="#" title="добавить в избранное">
											<i class="fa fa-heart-o" aria-hidden="true"></i>
											<span>добавить в избранное</span>
										</a>
									</li>
								</ul>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="product_d_info mb-60">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="product_d_inner">
						<div class="product_info_button">
							<ul class="nav" role="tablist">
								<li >
								<a class="active" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Описание</a>
								</li>
								<li>
								<a data-toggle="tab" href="#sheet" role="tab" aria-controls="sheet" aria-selected="false">Характеристики</a>
								</li>
								<li>
								<a data-toggle="tab" href="#documents" role="tab" aria-controls="documents" aria-selected="false">Документы</a>
								</li>
							</ul>
						</div>
						<div class="tab-content">
						<div class="tab-pane fade show active" id="info" role="tabpanel" >
							<div class="product_info_content">
								p
									| Повседневная практика показывает, что сложившаяся структура организации позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры влечет за собой процесс внедрения и модернизации модели развития.
								p
									| Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации систем массового участия. Задача организации, в особенности же реализация намеченных плановых заданий в значительной степени обуславливает создание систем массового участия. Разнообразный и богатый опыт рамки и место обучения кадров играет важную роль в формировании направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание модели развития.
								p
									| Не следует, однако забывать, что сложившаяся структура организации играет важную роль в формировании существенных финансовых и административных условий. Не следует, однако забывать, что консультация с широким активом играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют от нас анализа форм развития. С другой стороны начало повседневной работы по формированию позиции в значительной степени обуславливает создание соответствующий условий активизации.
							</div>
						</div>
						<div class="tab-pane fade" id="sheet" role="tabpanel" >
							<div class="product_d_table">
								<form action="#">
									<table>
										<tbody>
											<tr>
												<td class="first_child">Материал</td>
												<td>что-то</td>
											</tr>
											<tr>
												<td class="first_child">Стиль</td>
												<td>ААА</td>
											</tr>
											<tr>
												<td class="first_child">Свойства</td>
												<td>Короткое опиание</td>
											</tr>
										</tbody>
									</table>
								</form>
							</div>
							<div class="product_info_content">
								<p>Еще больше текста</p>
							</div>
						</div>
							<div class="tab-pane fade" id="documents" role="tabpanel" >
								<a data-fancybox="gallery" href="images/item.png"><img class="lazyload img-100 img-fluid" data-src="images/item.png" alt="img"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="top_category_product recently">
		<div class="container">
			div(class="row")
				<div class="col-12">
					<h2><b>Вы недавно смотрели</b></h2>
				</div>
			<div class="row">
				<div class="col-12">
					<div class="top_category_container owl-recently owl-carousel">
						-for(var i = 0; i < 5; i++)
							<article class="single_category">
								<figure>
									<div class="category_thumb">
										<a href="#">
											<img class="lazyload" data-src="images/recently.png" alt="img">
										</a>
									</div>
									<figcaption class="category_name">
										<h3>
											<a href="shop.html">Компрессор поршневой ВА-12</a>
										</h3>
										p
											| 12 568 руб.
									</figcaption>
								</figure>
							</article>
					</div>
				</div>
				<div class="col-12 d-flex justify-content-center mt-4 d-lg-none">
					<a class="btn" href="#">Весь каталог</a>
				</div>
			</div>
		</div>
	</section>
