.page-404 {
	min-height: calc(100vh - 200px);
	h1 {
		font-weight: bold;
		font-size: 288px;
		line-height: 348px;

		color: $mainColor;

		margin-bottom: 45px;
		@media (max-width: 991px) {
			font-size: 100px;
			line-height: 140px;
		}
	}
	p {
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #000000;
		margin-bottom: 55px;
		text-align: center;
	}
	a {
		font-size: 18px;
		line-height: 21px;
		text-decoration: none;
		color: #000000;
		padding-bottom: 6px;
		position: relative;

		margin-bottom: 50px;
		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			left: 0px;
			bottom: 0px;
			height: 2px;
			background-color: #000;
			transition: $mainTransition;
		}
		&:hover {
			color: $mainColor;
			&:before {
				background: $mainColor;
				transition: $mainTransition;
			}
		}
	}
}
