/* INCLUD SASS */
@import "default/plugins.css";
@import "default/style.css";
@import "../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css";

@import "default/_default";
@import "header/_header";
@import "button/_button";
@import "seo/_seo";
@import "form/_form";
@import "breadcrumb/_breadcrumb";
@import "pagination/_pagination";
@import "404/_404";
@import "about/_about";
@import "modalWindow/_modal";
@import "footer/_footer";


.slider_section {
	padding: 100px 0px;
	margin-bottom: 86px;
	background-color: #F8F9F9;
	@media (max-width: 991px) {
		padding: 0px 0px;
	}
}
.slider_content {

	display: block;
	h1, .h1 {
		display: block;
		font-weight: bold;
		font-size: 36px;
		line-height: 44px;
		color: #000000;
		span:first-child {
			display: block;
			padding-bottom: 22px;
			margin: 0px;
		}

		@media (max-width: 991px) {
			font-size: 32px;
			line-height: 38px;
			text-align: left;
		}
	}
	p {
		padding-bottom: 26px;
		text-transform: unset;
		@media (max-width: 991px) {
			text-align: left;
		}
	}

	.btn {
		@media (max-width: 991px) {
			padding: 14px 42px;
			height: unset;

			font-size: 18px;
			line-height: 22px;
		}
	}
	@media (max-width: 991px) {
		text-align: left;
	}
}
.single_slider {
	@media (max-width: 991px) {
		height: 400px!important;
	}
}
.slider_area .owl-dots .owl-dot {
	background: #C4C4C4;
	width: 12px;
	height: 12px;
	&.active {
		&::before {
			top: 0px;
			left: 0px;
			background: $mainColor;
		}
	}
}











.top_category_product {
	padding-bottom: 160px;

	@media (max-width: 991px) {
		padding-bottom: 20px;
	}
}
.top_category_header {
	max-width: 160px;

	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media (max-width: 991px) {
		max-width: unset;
		text-align: left;
	}
}
.top_category_header h2 {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	padding-bottom: 10px;

	text-transform: unset;
	letter-spacing: unset;
}
.top_category_header .btn {
	background: #2E5164;
	border-radius: 5px;
	padding: 14px 0px;

	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	margin: 0px!important;
}
.category_thumb {
	height: 135px;
	width: 100%;
	padding: 15px 0px;
}
.single_category {
	border: 1px solid #C4C4C4;
	border-radius: 6px;
	padding: 0 0 16px 0px;
}
.category_name {
	height: 32px;
	padding: 0 7px;
}
.category_name h3 {
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	text-align: left;
}
.category_thumb {
	display: flex;
	justify-content: center;
	align-items: center;
}
.category_thumb img {
	width: unset;
	margin: 0 auto;
}
.category_thumb a {
	display: block;
}
.owl-carousel .owl-item img {
	width: unset;
	margin: 0 auto;
}
.category_name  a:hover,
 {
	color: $mainColor!important;
}
.single_category:hover {
	border-color: $mainColor;
}







.banner {
	background: linear-gradient(180deg, rgba(255,0,0,0) 10%, $mainColor 10%);
	margin-bottom: 80px;
	h2 {
		font-weight: bold;
		font-size: 36px;
		line-height: 44px;
		color: #FFFFFF;
		padding-bottom: 20px;
	}
	p {
		font-weight: bold;
		font-size: 14px;
		line-height: 17px;
		color: #FFFFFF;
		padding-bottom: 20px;
	}

	@media (max-width: 991px) {
		padding-top: 40px;
		background: linear-gradient(180deg,  $mainColor 90%, rgba(255,0,0,0) 90%);
	}
}









.shipping_area {
	margin-bottom: 66px;
}
.shipping_icone img {
	width: 64px;
	max-width: unset;
}
.shipping_content h2 {
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	color: #000000;

	padding-bottom: 8px;
	margin: 0px;
}
.shipping_content p {
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	padding: 0px;
	margin: 0px;
}








.title-h1 {
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #000000;

	padding-bottom: 10px;
	margin: 0px;
}
.shop_toolbar_wrapper {
	border: 1px solid #C4C4C4;
	border-radius: 5px;
	padding: 14px 50px;
}
.page_amount p {
	font-size: 14px;
	line-height: 16px;
	color: #707070;

	padding: 0px;
	margin: 0px;
}



.right_caption .add_to_cart a {
	border: 2px solid #2E5164;
	border-radius: 5px;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #2E5164;
	padding: 7px 25px;

	&:hover {
		background: $mainColor;
	}
}
.price_box span.old_price {
	font-size: 16px;
	line-height: 22px;
	color: #2E5164;
}
.price_box span.current_price {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #2E5164;
}
.shop_wrapper .single_product {
	padding: 0px;
	padding-bottom: 20px;

	margin-bottom: 30px;
	border-bottom: 1px solid #C4C4C4;
}
.grid_list .product_thumb {
	width: 20%;
	height: 100%;
	flex: unset;
	display: flex;
	justify-content: center;
	align-items: center;

	float: unset;

	.primary_img {
		display: block;
		img {
			width: 100%;
			max-width: 100%;
		}
	}
	@media (max-width: 991px) {
		width: 100%;
		height: unset;
	}
}
.product_content.list_content {
	width: 80%;
	flex: unset!important;
	@media (max-width: 991px) {
		width: 100%;
	}
}
.grid_list .product_content.list_content {
	max-width: unset;
	align-items: flex-start;
}
.product_name {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	padding: 0px;
	margin-bottom: 28px;
}
.right_caption .action_links ul li a {
	font-size: 14px;
	line-height: 100%;
	color: #000000;
	margin-bottom: 12px;
	height: 20px;

	display: flex;
	align-items: center;
	i {
		font-size: 16px;
		line-height: 100%;
		color: $mainColor;
	}
	img {
		width: 16px;
		margin-right: 7px;
	}
	span {
		margin: 0px;
		line-height: 90%;
	}
	&:hover {
		color: $mainColor;
	}
}
.left_caption {
	border: 0px;
}
.single_product figure {
	display: flex;
	@media (max-width: 991px) {
		display: block;
	}
}
.widget_list  {
	margin-bottom: 40px;
}
.widget_list .title {
	display: block;

	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #000000;

	padding: 0px;
	margin-bottom: 16px;
}

.widget_inner {
	padding: 22px 15px;
	background: #F8F8F8;
}
.widget_list>ul>li>a:hover {
	color: $mainColor;
}
.widget_categories li {
	a {
		font-size: 14px;
		line-height: 16px;
		color: #000000;
		padding: 15px 0px!important;
		border-bottom: 1px solid #C4C4C4;
	}
	&.active {
		background-color: $mainColor;
		a {
			color: #fff;
			padding: 15px 10px!important;
			border-bottom: 1px solid $mainColor;
			&:hover {
				color: #fff;
			}
		}
	}
}

.widget_list.widget_filter form input {
	width: 100%!important;
}
#start-amount,
#end-amount {
	display: block;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}
.ui-slider-horizontal {
	margin-bottom: 10px;
}


.product_d_right {
	h1 {
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #000000;
		margin-bottom: 30px;
	}
	.product_desc  {
		border: 0px;
		p {
			font-size: 14px;
			line-height: 16px;
			color: #000000;
		}
	}
	.btn {
		width: 100%;
		max-width: 167px;
		padding: 7px 0px;
		&:hover {
			background: #242424;
		}
	}
}
.product_d_inner {
	border: 0px;
	padding: 0px;
}
.product_info_button {
	border: 0px;
	padding: 0px;
	margin-bottom: 35px;

	ul {
		li {
			a {
				font-size: 14px;
				line-height: 16px;
				color: #000000;
				padding-bottom: 6px;

				display: block;
				position: relative;
				transition: $mainTransition;

				&.active {
					font-weight: bold;
					transition: $mainTransition;
					&:before {
						content: "";
						display: block;
						position: absolute;
						width: 100%;
						left: 0px;
						bottom: 0px;
						height: 2px;
						background-color: #000;
					}
				}
			}
		}
	}
}

.recently {
	h2 {
		font-size: 16px;
		line-height: 19px;
		color: #000000;

		margin-bottom: 38px;
	}

	.single_category {
		padding: 26px 10px;
	}
	.category_thumb {
		height: unset;
	}
	.category_name {
		height: unset;
		h3 {
			font-weight: bold;
			font-size: 16px;
			line-height: 19px;
			color: #000000;
			margin-bottom: 32px;
			text-align: center;
		}
		p {
			font-weight: bold;
			font-size: 16px;
			line-height: 19px;
			color: #000000;
			text-align: center;
		}
	}
}
@media only screen and (max-width: 767px) {
	.container {
		width: unset;
	}
}








.shopping_cart_area {
	padding: 50px 0 100px 0;
	h2 {
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #000000;
	}

	.shopping_cart_area__final {
		display: flex;
		align-items: center;
		padding-bottom: 40px;
		.shopping_cart_area__final__text {
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			color: #000000;
			margin-right: 40px;
		}
		.shopping_cart_area__final__price {
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			color: #2E5164;
		}
	}
	.btn {
		width: 100%;
		max-width: 224px;
		padding: 7px 0;
		&:hover {
			background: #242424;
		}
	}
}
.table_desc {
	border: 0px;
}
.table_desc .cart_page table tbody tr td {
	border: 0px;
}
.table_desc .cart_page table tbody tr td.product_quantity input {
	border: 0px;
	width: 70px;
	height: unset;
	padding: 0;
}
.table_desc .cart_page table tbody tr td.product_name a {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #000000;

	&:hover {
		color: $mainColor;
	}
}
.table_desc .cart_page table tbody tr td.product_quantity {
	.cart-plus-minus {
		margin: 0 auto;
	}
}
.table_desc .cart_page table tbody tr td.product-price,
.table_desc .cart_page table tbody tr td.product_total {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: $mainColor;
}
.table_desc .cart_page table tbody tr td.product_remove a:hover {
	color: $mainColor;
}
.table_desc .cart_page table tbody tr td.product_remove a {
	margin: 0 auto;
}
.cart_page {
	tr {
		display: block;
		border-bottom: 1px solid #F0F0F0;
		padding-bottom: 16px;
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0px;
		}
	}
	.product_thumb {
		a {
			display: block;
		}
	}
}
