.header_top {
	background-color: #F8F9F9;
	border: 0px;
}
.logo a img {
	max-width: unset;
	@media (max-width: 991px) {
		width: 100%;
	}
}
.main_header {
	@media (max-width: 991px) {
		padding: 0px;
	}
}
.search_box {
	max-width: 380px;
}
.search_container form {
	border: 0px;
	max-width: 380px;
}
.search_box input{
	border: 1px solid #C4C4C4;
	border-radius: 5px 0px 0px 5px;

	padding: 14px 120px 14px 22px ;
}
.search_box button[type='submit'] {
	background: #2E5164;
	border-radius: 0px 5px 5px 0px;

	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
}
.mini_cart_wrapper span.cart_quantity {
	background: #2E5164;
	width: 18px;
	height: 18px;

	display: flex;
	justify-content: center;
	align-items: center;

	font-weight: bold;
	font-size: 12px;
	line-height: 100%;
	color: #FFFFFF;
}
.middel_right {
	justify-content: space-between;
}
.phone-container a {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}
.phone-container span {
	font-size: 12px;
	line-height: 14px;
	color: #2E5164;
	cursor: pointer;
}
.main_menu_area {
	background: #2E5164;
	@media (max-width: 991px) {
		background: none;
	}
}
.categories_title {
	background: rgba(40, 73, 91, 1);
}
.categories_title span {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
	cursor: pointer;
	margin-bottom: 0;
	display: inline-block;
}
.burger {
	border: 0px;
	display: block;

	width: 31px;
	height: 20px!important;

	cursor: pointer;

	position: relative;
}
.burger  span {
	display: block;
	height: 2px;
	background-color: $mainColor;
	position: absolute;
}
.burger  span:nth-child(1) {
	right: 0px;
	width: 80%;
	top: 0px;
}
.burger  span:nth-child(2) {
	right: 0px;
	width: 100%;
	top: calc(50% - 1px);
}
.burger span:nth-child(3) {
	right: 0px;
	width: 70%;
	bottom: 0px;
}
.canvas_open a {
	border: 0px;
}
.canvas_open {
	@media (max-width: 991px) {
		top: 26px!important;
	}
	@media (max-width: 400px) {
		top: 16px!important;
	}
}
.header_middle {
	@media (max-width: 991px) {
		padding-top: 11px!important;
		padding-bottom: 11px!important;
	}
}
.categories_title  {
	&::before {
		@media (max-width: 991px) {
			content: "";
			background: url(../images/menudropdown.svg) center no-repeat;
			background-size: 21px;

			width: 21px;
			height: 11px;
			transition: $mainTransition;

			top: calc(50% - 6px);
			transform: unset;
		}
	}
	&.active {
		&:before {
			@media (max-width: 991px) {
				transform: scale(1, -1);
				transition: $mainTransition;
			}
		}
	}
}
.cart_remove button {
	border: 0px;
	border-radius: 100%;
	width: 26px;
	height: 26px;

	display: flex;
	justify-content: center;
	align-items: center;
}
.cart_remove button:hover {
	background: $mainColor;
	border-color: $mainColor;
	color: #fff;
}
.cart_img:hover {
	border-color: $mainColor;
}
.cart_info a {
	font-size: 16px;
	font-weight: bold;
}
.cart_info a:hover {
	color: $mainColor;
}
.cart_button a:hover {
	background-color: $mainColor;
	border-color: $mainColor;
}
.offcanvas_main_menu li a:hover {
	color: $mainColor;
}
a:hover,
.mini_cart_wrapper:hover>a,
.Offcanvas_footer span a:hover,
.top_right>ul>li:hover>a,
.categories_menu_toggle>ul>li:hover>a,
.categories_menu_toggle>ul>li ul.categories_mega_menu>li>a:hover,
.categorie_sub_menu li a:hover {
	color: $mainColor;
}
.main_menu nav>ul>li {
	margin-right: 30px!important;
}
.main_menu nav>ul>li>a {
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
}
.categories_menu_toggle>ul>li>a {
	font-size: 18px;
}
.categories_menu_toggle>ul>li ul.categories_mega_menu>li>a {
	font-weight: bold;
}

.sticky_header_right .main_menu nav>ul>li>a.active,
.sticky_header_right .main_menu nav>ul>li:hover>a {
	color: $mainColor;
}




@media only screen and (max-width: 767px) {
	.mini_cart {
		right: unset;
		left: -250%;
	}
}
