.seo {
	margin-bottom: 50px;

	h2 {
		font-weight: bold;
		font-size: 36px;
		line-height: 44px;
		color: #000000;

		margin: 0px;
		padding-bottom: 40px;
	}
	p {
		margin-bottom: 20px;
		&:last-child {
			margin: 0px;
		}
	}
}
